<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.1/phpunit.xsd"
        backupGlobals="true"
        forceCoversAnnotation="true"
        defaultTestSuite="all">
    <testsuites>
        <testsuite name="all">
            <directory>tests/</directory>
            <directory>examples/Brainfuck/tests/</directory>
            <directory>examples/SimpleExpr/tests/</directory>
        </testsuite>
        <testsuite name="examples">
            <directory>examples/Brainfuck/tests/</directory>
            <directory>examples/SimpleExpr/tests/</directory>
        </testsuite>
        <testsuite name="library">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>
            <directory suffix=".php">tools/src/</directory>
            <directory suffix=".php">examples/Brainfuck/src/</directory>
            <directory suffix=".php">examples/SimpleExpr/src/</directory>
            <exclude>
                <file>src/RegExp/PropertyIndex.php</file>
                <directory>src/RegExp/Properties/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>