<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.0/phpunit.xsd"
        backupGlobals="true"
        cacheTokens="false"
        defaultTestSuite="all">
    <testsuites>
        <testsuite name="all">
            <directory>tests/</directory>
            <directory>examples/tests/</directory>
        </testsuite>
        <testsuite name="examples">
            <directory>examples/tests/</directory>
        </testsuite>
        <testsuite name="library">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist
                processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>
            <directory suffix=".php">examples/src/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>